a, p, h1, h2, h3, h4, h5, h6, input, button, label, legend, fieldset, textarea, .content {
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
a {
	color: royalblue;
}
.downloadLink {
	margin-top: 8px;
	margin-bottom: 8px;
}
.login label, .register label {
	display: inline-block;
	width: 45px;
}
@media (prefers-color-scheme: dark) {
	html {
		background-color: #000;
	}
	input[type="checkbox"] {
		filter: invert(80%) hue-rotate(180deg) brightness(1.5);
	}
	p, h1, h2, th, td, label, input, button, input[type="file"]::file-selector-button {
		color: #fff;
	}
	button, input[type="text"], input[type="password"], input[type="file"]::file-selector-button {
		background-color: #666;
	}
}
